<div class="container mx-auto font-latoRegular">
  <div class="items-center flex flex-col mx-auto">
    <h1 class="text-center text-9xl font-prata">Error</h1>
    <iframe
      class="-translate-y-16"
      src="https://lottie.host/embed/f2cce7fc-b956-474d-9912-800dc0b23ef6/l29qSI8rdh.json"
      width="500px"
      height="500px"
    ></iframe>
    <h1 class="capitalize font-prata text-7xl -translate-y-24">Page not found</h1>
    <div class="BUTTONS flex flex-row justify-between space-x-8 -translate-y-10">
      <button
        type="submit"
        class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-latoBlack uppercase rounded-lg px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800"
      ><a routerLink="/shop">
          Ir a tienda
      </a>
      </button>
      <button
        type="submit"
        class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-latoBlack uppercase rounded-lg px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800"
      ><a routerLink="/home">
          Volver a home
      </a>
      </button>
    </div>
  </div>
</div>
