<div class="container mx-auto px-4 py-8 font-latoRegular text-pretty">
  <h1 class="text-5xl text-center font-prata my-10">
    {{ "faqTitle" | translate }} (FAQ)
  </h1>

  <div class="mb-8">
    <h2 class="text-xl font-latoBold mb-2">
      1. {{ "faqQuestion1" | translate }}
    </h2>
    <p class="text-gray-700 mb-4 text-lg">
      {{ "faqAnswer1" | translate }}
    </p>
  </div>

  <div class="mb-8">
    <h2 class="text-xl font-latoBold mb-2">
      2. {{ "faqQuestion2" | translate }}
    </h2>
    <p class="text-gray-700 mb-4 text-lg">
      {{ "faqAnswer2" | translate }}
    </p>
  </div>

  <div class="mb-8">
    <h2 class="text-xl font-latoBold mb-2">
      3. {{ "faqQuestion3" | translate }}
    </h2>
    <p class="text-gray-700 mb-4 text-lg">
      {{ "faqAnswer3" | translate }}
    </p>
  </div>

  <div class="mb-8">
    <h2 class="text-xl font-latoBold mb-2">
      4. {{ "faqQuestion4" | translate }}
    </h2>
    <p class="text-gray-700 mb-4 text-lg">
      {{ "faqAnswer4" | translate }}
    </p>
  </div>

  <div class="mb-8">
    <h2 class="text-xl font-latoBold mb-2">
      5. {{ "faqQuestion5" | translate }}
    </h2>
    <p class="text-gray-700 mb-4 text-lg">
      {{ "faqAnswer5" | translate }}
    </p>
  </div>

  <div class="mb-8">
    <h2 class="text-xl font-latoBold mb-2">
      6. {{ "faqQuestion6" | translate }}
    </h2>
    <p class="text-gray-700 mb-4 text-lg">
      {{ "faqAnswer6" | translate }}
    </p>
  </div>

  <div class="mb-8">
    <h2 class="text-xl font-latoBold mb-2">
      7. {{ "faqQuestion7" | translate }}
    </h2>
    <p class="text-gray-700 mb-4 text-lg">
      {{ "faqAnswer7" | translate }}
    </p>
  </div>

  <div class="mb-8">
    <h2 class="text-xl font-latoBold mb-2">
      8. {{ "faqQuestion8" | translate }}
    </h2>
    <p class="text-gray-700 mb-4 text-lg">
      {{ "faqAnswer8" | translate }}
    </p>
  </div>

  <div class="mb-8">
    <h2 class="text-xl font-latoBold mb-2">
      9. {{ "faqQuestion9" | translate }}
    </h2>
    <p class="text-gray-700 mb-4 text-lg">
      {{ "faqAnswer9" | translate }}
    </p>
  </div>

  <div class="mb-8">
    <h2 class="text-xl font-latoBold mb-2">
      10. {{ "faqQuestion10" | translate }}
    </h2>
    <p class="text-gray-700 mb-4 text-lg">
      {{ "faqAnswer101" | translate }}
    </p>

    <ul class="list-disc ml-8 text-gray-700 mb-4 text-lg">
      <li>
        {{ "faqAnswer102" | translate }}
      </li>
      <li>
        {{ "faqAnswer103" | translate }}
      </li>
      <li>
        {{ "faqAnswer104" | translate }}
      </li>
      <li>
        {{ "faqAnswer105" | translate }}
      </li>
    </ul>
  </div>
</div>
