<div class="container mx-auto px-4 py-8 font-latoRegular text-pretty">
    <h1 class="text-5xl text-center font-prata my-10">Preguntas frecuentes (FAQ)</h1>
  
    <div class="mb-8">
      <h2 class="text-xl font-latoBold mb-2">1. ¿Qué métodos de pago aceptan?</h2>
      <p class="text-gray-700 mb-4 text-lg">
        Aceptamos PayPal y tarjetas de crédito como Visa, Mastercard y American Express. También ofrecemos la posibilidad de realizar pagos mediante otras plataformas de pago seguro.
      </p>
    </div>
  
    <div class="mb-8">
      <h2 class="text-xl font-latoBold mb-2">2. ¿Cuál es el tiempo estimado de entrega de los productos?</h2>
      <p class="text-gray-700 mb-4 text-lg">
        El tiempo estimado de entrega de nuestros productos es de entre 48 y 72 horas laborables, contadas a partir de la confirmación del pedido. Este plazo puede variar dependiendo del destino de entrega y otros factores logísticos.
      </p>
    </div>
  
    <div class="mb-8">
      <h2 class="text-xl font-latoBold mb-2">3. ¿Ofrecen envío internacional?</h2>
      <p class="text-gray-700 mb-4 text-lg">
        Sí, ofrecemos envío internacional a la mayoría de los países del mundo. Trabajamos con diferentes compañías de transporte para garantizar un servicio eficiente y seguro a nuestros clientes en cualquier parte del mundo.
      </p>
    </div>
  
    <div class="mb-8">
      <h2 class="text-xl font-latoBold mb-2">4. ¿Cómo puedo realizar un seguimiento de mi pedido?</h2>
      <p class="text-gray-700 mb-4 text-lg">
        Puedes realizar un seguimiento de tu pedido utilizando el número de seguimiento que te proporcionaremos una vez que tu pedido haya sido enviado. Este número te permitirá rastrear el estado de tu envío a través del sitio web de la compañía de transporte seleccionada.
      </p>
    </div>
  
    <div class="mb-8">
      <h2 class="text-xl font-latoBold mb-2">5. ¿Qué debo hacer si mi producto llega dañado o defectuoso?</h2>
      <p class="text-gray-700 mb-4 text-lg">
        En el improbable caso de que recibas un producto dañado o defectuoso, te pedimos que nos contactes inmediatamente a través de nuestro correo electrónico de atención al cliente. Nos encargaremos de resolver la situación lo antes posible y proporcionarte una solución satisfactoria.
      </p>
    </div>
  
    <div class="mb-8">
      <h2 class="text-xl font-latoBold mb-2">6. ¿Puedo devolver o cambiar un producto?</h2>
      <p class="text-gray-700 mb-4 text-lg">
        Sí, tienes derecho a devolver o cambiar un producto si no estás completamente satisfecho con tu compra. Si resides en la Unión Europea, puedes ejercer tu derecho de devolución dentro de los 14 días posteriores a la entrega del producto. Ten en cuenta que los gastos de envío de la devolución correrán por tu cuenta.
      </p>
    </div>
  
    <div class="mb-8">
      <h2 class="text-xl font-latoBold mb-2">7. ¿Tienen garantía sus productos?</h2>
      <p class="text-gray-700 mb-4 text-lg">
        Sí, todos nuestros productos están respaldados por una garantía de un año. Esto significa que estamos comprometidos a reparar o reemplazar cualquier producto que presente defectos de fabricación dentro de este período de garantía, sin coste adicional para ti.
      </p>
    </div>
  
    <div class="mb-8">
      <h2 class="text-xl font-latoBold mb-2">8. ¿Cómo puedo contactar al servicio de atención al cliente?</h2>
      <p class="text-gray-700 mb-4 text-lg">
        Puedes contactar a nuestro servicio de atención al cliente enviándonos un correo electrónico a la dirección proporcionada en nuestra página de contacto. Nuestro equipo de atención al cliente estará encantado de ayudarte con cualquier pregunta, consulta o problema que puedas tener.
      </p>
    </div>
  
    <div class="mb-8">
      <h2 class="text-xl font-latoBold mb-2">9. ¿Tienen tiendas físicas donde pueda ver los productos personalmente?</h2>
      <p class="text-gray-700 mb-4 text-lg">
        Actualmente no contamos con tiendas físicas abiertas al público en general. Sin embargo, si estás interesado en ver nuestros productos personalmente, podemos concertar una cita personalizada en nuestras instalaciones o en un lugar conveniente para ti.
      </p>
    </div>
  
    <div class="mb-8">
      <h2 class="text-xl font-latoBold mb-2">10. ¿Cómo puedo mantener mi reloj en buen estado?</h2>
      <p class="text-gray-700 mb-4 text-lg">
        Para mantener tu reloj en óptimas condiciones, te recomendamos seguir las siguientes pautas de cuidado:
        <ul class="list-disc ml-8 text-gray-700 mb-4 text-lg">
          <li>Limpia regularmente tu reloj con un paño suave y seco para eliminar el polvo y la suciedad.</li>
          <li>Asegúrate de que tu reloj esté protegido de los golpes y caídas, y evita exponerlo a condiciones extremas de temperatura o humedad.</li>
          <li>Si tu reloj es resistente al agua, asegúrate de seguir las indicaciones del fabricante para su mantenimiento y evitar daños por agua.</li>
          <li>Si tienes alguna duda sobre cómo cuidar tu reloj correctamente, no dudes en contactar a nuestro equipo de atención al cliente para obtener asesoramiento.</li>
        </ul>
      
    </div>
  </div>
  