<div class="flex flex-col min-h-80 ">
  <div class="container mx-auto px-20 py-8">
    <div class="flex flex-wrap items-center mb-56">
      <!-- Texto -->
      <div class="w-full md:w-full md:pr-8 xl:w-1/2 pr-6">
        <h2 class="text-3xl font-semibold mb-4">Sobre Zero Time</h2>
        <p class="text-lg text-gray-800 leading-relaxed text-balance">
          Zero Time no es solo una tienda de relojes, es el sueño hecho realidad
          de dos amigos apasionados por la relojería: Alex y Marco. La historia
          de Zero Time comenzó en un pequeño apartamento de la ciudad, donde
          Alex y Marco solían reunirse para hablar sobre su pasión compartida
          por los relojes de alta gama. Después de años de discusiones,
          investigaciones y ahorros, decidieron convertir su pasión en un
          negocio. En 2015, fundaron Zero Time con el objetivo de ofrecer una
          experiencia de compra única para los entusiastas de los relojes en su
          comunidad. Los primeros días fueron difíciles. Trabajaron largas
          horas, gestionando todo, desde la selección de productos hasta la
          atención al cliente. Pero su dedicación y amor por lo que hacían los
          mantuvieron adelante. Con el tiempo, Zero Time se convirtió en un
          destino popular para los amantes de los relojes en la ciudad. La
          tienda no solo ofrecía una amplia gama de relojes de marcas
          prestigiosas, sino también un ambiente acogedor y conocimientos
          expertos que los clientes apreciaban. En los años siguientes, Zero
          Time continuó creciendo y expandiéndose. Abrieron una tienda en línea
          para llegar a una audiencia más amplia y comenzaron a organizar
          eventos y lanzamientos de productos para involucrar a la comunidad de
          relojería local. Hoy en día, Zero Time es reconocida como una de las
          principales tiendas de relojes de alta gama en la región. Aunque han
          crecido, Alex y Marco siguen comprometidos con su visión original de
          ofrecer una experiencia excepcional a sus clientes y compartir su
          pasión por la relojería con el mundo. Desde su humilde comienzo en un
          pequeño apartamento hasta convertirse en un referente en la industria,
          la historia de Zero Time es un testimonio del poder de la dedicación,
          el trabajo duro y la pasión por lo que haces.
        </p>
      </div>

      <div class="w-full md:w-full mt-8 md:mt-10 xl:w-1/2 align-middle">
        <div
          id="default-carousel"
          class="relative w-full"
          data-carousel="slide"
        >
          <!-- Carousel wrapper -->
          <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
            <!-- Item 1 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img
                src="../../assets/images/about-us/1.avif"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                alt="..."
              />
            </div>
            <!-- Item 2 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img
                src="../../assets/images/about-us/2.avif"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                alt="..."
              />
            </div>
            <!-- Item 3 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img
                src="../../assets/images/about-us/3.avif"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                alt="..."
              />
            </div>
            <!-- Item 4 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img
                src="../../assets/images/about-us/4.avif"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                alt="..."
              />
            </div>
            <!-- Item 5 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img
                src="../../assets/images/about-us/5.avif"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                alt="..."
              />
            </div>
          </div>
          <!-- Slider indicators -->
          <div
            class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse"
          >
            <button
              type="button"
              class="w-3 h-3 rounded-full"
              aria-current="true"
              aria-label="Slide 1"
              data-carousel-slide-to="0"
            ></button>
            <button
              type="button"
              class="w-3 h-3 rounded-full"
              aria-current="false"
              aria-label="Slide 2"
              data-carousel-slide-to="1"
            ></button>
            <button
              type="button"
              class="w-3 h-3 rounded-full"
              aria-current="false"
              aria-label="Slide 3"
              data-carousel-slide-to="2"
            ></button>
            <button
              type="button"
              class="w-3 h-3 rounded-full"
              aria-current="false"
              aria-label="Slide 4"
              data-carousel-slide-to="3"
            ></button>
            <button
              type="button"
              class="w-3 h-3 rounded-full"
              aria-current="false"
              aria-label="Slide 5"
              data-carousel-slide-to="4"
            ></button>
          </div>
          <!-- Slider controls -->
          <button
            type="button"
            class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-prev
          >
            <span
              class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
            >
              <svg
                class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 1 1 5l4 4"
                />
              </svg>
              <span class="sr-only">Previous</span>
            </span>
          </button>
          <button
            type="button"
            class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-next
          >
            <span
              class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
            >
              <svg
                class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 9 4-4-4-4"
                />
              </svg>
              <span class="sr-only">Next</span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
