<div class="bg-gray-400">
    <div class="container mx-auto flex justify-between items-center py-2 ">
        <a href="/" class="text-white text-xl  font-lato">Zero Time</a>
        <div class="flex items-center">
            <input type="text" class="bg-gray-600 text-white rounded-md px-4 py-2 focus:outline-none"
                placeholder="Buscar... ">
            <button class="bg-gray-600 text-white px-4 py-2 rounded-md ml-2">Buscar</button>

        </div>
        <div class="flex items-center">
            <button class="bg-gray-600 text-white px-4 py-2 rounded-md ml-2">Inicio</button>
            <button class="bg-gray-600 text-white px-4 py-2 rounded-md ml-2">Marcas</button>
            <button class="bg-gray-600 text-white px-4 py-2 rounded-md ml-2">Seguro</button>
            <button class="bg-gray-600 text-white px-4 py-2 rounded-md ml-2">Tienda</button>
            <button class="bg-gray-600 text-white px-4 py-2 rounded-md ml-2">Vende tu reloj</button>

        </div>
        <div class="flex items-center space-x-6">
            <img width="35" height="35" src="https://img.icons8.com/ios-filled/50/gender-neutral-user.png" alt="gender-neutral-user" class="cursor-pointer"/>
            <img width="35" height="35" src="https://img.icons8.com/ios-filled/50/shopping-bag.png" alt="shopping-bag" class="cursor-pointer"/>
        </div>
    </div>
</div>