<div class="container mx-auto px-4 py-8 font-latoRegular text-pretty">
  <h1 class="text-5xl text-center font-prata my-10">
    {{ "termsConditionsTitle" | translate }}
  </h1>
  <p class="text-gray-700 mb-4 text-lg">
    {{ "termsConditionsSubtitle" | translate }}
  </p>

  <h2 class="text-xl font-latoBold mb-2">
    1. {{ "termsConditionsUseTitle" | translate }}
  </h2>
  <p class="text-gray-700 mb-4 text-lg">
    {{ "termsConditionsUseBody" | translate }}
  </p>
  <p class="text-gray-700 mb-4 text-lg">
    {{ "termsConditionsUseBody1" | translate }}
  </p>

  <h2 class="text-xl font-latoBold mb-2">
    2. {{ "termsConditionsIntellectualTitle" | translate }}
  </h2>
  <p class="text-gray-700 mb-4 text-lg">
    {{ "termsConditionsIntellectualBody" | translate }}
  </p>
  <p class="text-gray-700 mb-4 text-lg">
    {{ "termsConditionsIntellectualBody1" | translate }}
  </p>

  <h2 class="text-xl font-latoBold mb-2">
    3. {{ "termsConditionsLinksTitle" | translate }}
  </h2>
  <p class="text-gray-700 mb-4 text-lg">
    {{ "termsConditionsLinksBody" | translate }}
  </p>
  <p class="text-gray-700 mb-4 text-lg">
    {{ "termsConditionsLinksBody1" | translate }}
  </p>

  <h2 class="text-xl font-latoBold mb-2">
    4. {{ "termsConditionsLimitationTitle" | translate }}
  </h2>
  <p class="text-gray-700 mb-4 text-lg">
    {{ "termsConditionsLimitationBody" | translate }}
  </p>
  <p class="text-gray-700 mb-4 text-lg">
    {{ "termsConditionsLimitationBody1" | translate }}
  </p>

  <h2 class="text-xl font-latoBold mb-2">
    5. {{ "termsConditionsChangesTitle" | translate }}
  </h2>
  <p class="text-gray-700 mb-4 text-lg">
    {{ "termsConditionsChangesBody" | translate }}
  </p>
  <p class="text-gray-700 mb-4 text-lg">
    {{ "termsConditionsChangesBody1" | translate }}
  </p>

  <h2 class="text-xl font-latoBold mb-2">
    6. {{ "termsConditionsContactTitle" | translate }}
  </h2>
  <p class="text-gray-700 mb-4 text-lg">
    {{ "termsConditionsContactBody" | translate }}
    <a
      href="mailto:zerotimeoclock@gmail.com"
      class="font-latoBold hover:font-latoBlack hover:underline"
      >zerotimeoclock&#64;gmail.com</a
    >{{ "termsConditionsContactBody1" | translate }}
  </p>
</div>
