<div class="container mx-auto font-latoRegular pt-10">
  <div class="grid grid-cols-6 ">
    <div class="CART  col-span-4 space-y-8">
      <h1 class="font-prata pb-16 text-5xl">Carrito</h1>
      <div class="CARD border-b border-gray-300 pb-10 ">
        <div class="flex flex-row">
          <img
            width="200px"
            height="200px"
            src="https://shop.hodinkee.com/cdn/shop/files/G-SHOCKRef.6900-SubtractByEdSheeranForHodinkee_01_large.jpg?v=1695855729"
            alt=""
          />
          <div class="INFOCARD  ml-10 flex flex-col space-y-2 ">
            <h2>G-SHOCK Ref.6900 - Subtract By Ed Sheeran For Hodinkee</h2>
            <h3 class="font-latoBold">{{ 185 | europeNumber }}</h3>
            <h3 class="text-red-600 hover:font-latoBlack cursor-pointer w-fit ">Eliminar</h3>
          </div>
        </div>
      </div>
      <div class="CARD border-b border-gray-300 pb-10">
        <div class="flex flex-row">
          <img
            width="200px"
            height="200px"
            src="https://shop.hodinkee.com/cdn/shop/files/G-SHOCKRef.6900-SubtractByEdSheeranForHodinkee_01_large.jpg?v=1695855729"
            alt=""
          />
          <div class="INFOCARD  ml-10 flex flex-col space-y-2">
            <h2>G-SHOCK Ref.6900 - Subtract By Ed Sheeran For Hodinkee</h2>
            <h3 class="font-latoBold">{{ 185 | europeNumber }}</h3>
            <h3 class="text-red-600 hover:font-latoBlack cursor-pointer w-fit">Eliminar</h3>
          </div>
        </div>
      </div>
      <div class="CARD border-b border-gray-300 pb-10">
        <div class="flex flex-row">
          <img
            width="200px"
            height="200px"
            src="https://shop.hodinkee.com/cdn/shop/files/G-SHOCKRef.6900-SubtractByEdSheeranForHodinkee_01_large.jpg?v=1695855729"
            alt=""
          />
          <div class="INFOCARD  ml-10 flex flex-col space-y-2">
            <h2>G-SHOCK Ref.6900 - Subtract By Ed Sheeran For Hodinkee</h2>
            <h3 class="font-latoBold">{{ 185 | europeNumber }}</h3>
            <h3 class="text-red-600 hover:font-latoBlack cursor-pointer w-fit">Eliminar</h3>
          </div>
        </div>
      </div>
      <div class="CARD border-b border-gray-300 pb-10">
        <div class="flex flex-row">
          <img
            width="200px"
            height="200px"
            src="https://shop.hodinkee.com/cdn/shop/files/G-SHOCKRef.6900-SubtractByEdSheeranForHodinkee_01_large.jpg?v=1695855729"
            alt=""
          />
          <div class="INFOCARD  ml-10 flex flex-col space-y-2">
            <h2>G-SHOCK Ref.6900 - Subtract By Ed Sheeran For Hodinkee</h2>
            <h3 class="font-latoBold">{{ 185 | europeNumber }}</h3>
            <h3 class="text-red-600 hover:font-latoBlack cursor-pointer w-fit">Eliminar</h3>
          </div>
        </div>
      </div>
      <div class="CARD border-b border-gray-300 pb-10">
        <div class="flex flex-row">
          <img
            width="200px"
            height="200px"
            src="https://shop.hodinkee.com/cdn/shop/files/G-SHOCKRef.6900-SubtractByEdSheeranForHodinkee_01_large.jpg?v=1695855729"
            alt=""
          />
          <div class="INFOCARD  ml-10 flex flex-col space-y-2">
            <h2>G-SHOCK Ref.6900 - Subtract By Ed Sheeran For Hodinkee</h2>
            <h3 class="font-latoBold">{{ 185 | europeNumber }}</h3>
            <h3 class="text-red-600 hover:font-latoBlack cursor-pointer w-fit">Eliminar</h3>
          </div>
        </div>
      </div>
      <div class="CARD border-b border-gray-300 pb-10">
        <div class="flex flex-row">
          <img
            width="200px"
            height="200px"
            src="https://shop.hodinkee.com/cdn/shop/files/G-SHOCKRef.6900-SubtractByEdSheeranForHodinkee_01_large.jpg?v=1695855729"
            alt=""
          />
          <div class="INFOCARD  ml-10 flex flex-col space-y-2">
            <h2>G-SHOCK Ref.6900 - Subtract By Ed Sheeran For Hodinkee</h2>
            <h3 class="font-latoBold">{{ 185 | europeNumber }}</h3>
            <h3 class="text-red-600 hover:font-latoBlack cursor-pointer w-fit">Eliminar</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="SUMMARY  flex flex-col col-span-2">
      <h1 class="font-prata pb-20 text-5xl">Resumen</h1>
      <div class="INFO space-y-4">
        <div class="SUBTOTAL flex flex-row justify-between">
          <h2>Subtotal</h2>
          <h2 class="">{{ 16270 | europeNumber }}</h2>
        </div>
        <div class="SHIPPING flex flex-row justify-between">
          <h2>Envío</h2>
          <h2 class="">Estándar - Gratis</h2>
        </div>
        <div class="ESTIMATEDTOTAL flex flex-row justify-between font-latoBold">
          <h2>Total estimado</h2>
          <h2 class="">{{ 16270 | europeNumber }}</h2>
        </div>
      </div>
      <div
        class="SUBMITBUTTON col-span-3 items-center justify-center flex pt-10"
      >
        <button
          type="submit"
          class="text-gray-900 hover:text-white border border-gray-800 w-full hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-latoBlack rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 uppercase dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800"
        >
          Realizar pedido
        </button>
      </div>
    </div>
  </div>
</div>
