<div class="container mx-auto px-4 py-8 font-latoRegular text-pretty">
  <h1 class="text-5xl text-center font-prata my-10">
    {{ "cookiesPolicyTitle" | translate }}
  </h1>
  <p class="text-gray-700 mb-4 text-lg">
    {{ "cookiesPolicySubitle" | translate }}
  </p>

  <h2 class="text-xl font-latoBold mb-2">
    1. {{ "cookiesPolicy1Title" | translate }}
  </h2>
  <p class="text-gray-700 mb-4 text-lg">
    {{ "cookiesPolicy1Body" | translate }}
  </p>

  <h2 class="text-xl font-latoBold mb-2">
    2. {{ "cookiesPolicy2Title" | translate }}
  </h2>
  <p class="text-gray-700 mb-4 text-lg">
    {{ "cookiesPolicy2Body" | translate }}
  </p>
  <ul class="list-disc ml-8 text-gray-700 mb-4 text-lg">
    <li>{{ "cookiesPolicy21Body" | translate }}</li>
    <li>
      {{ "cookiesPolicy22Body" | translate }}
    </li>
    <li>
      {{ "cookiesPolicy23Body" | translate }}
    </li>
    <li>
      {{ "cookiesPolicy24Body" | translate }}
    </li>
  </ul>

  <h2 class="text-xl font-latoBold mb-2">
    3. {{ "cookiesPolicy3Title" | translate }}
  </h2>
  <p class="text-gray-700 mb-4 text-lg">
    {{ "cookiesPolicy3Body" | translate }}
  </p>
  <p class="text-gray-700 mb-4 text-lg">
    {{ "cookiesPolicy31Body" | translate }}
  </p>

  <h2 class="text-xl font-latoBold mb-2">
    4. {{ "cookiesPolicy4Title" | translate }}
  </h2>
  <p class="text-gray-700 mb-4 text-lg">
    {{ "cookiesPolicy4Body" | translate }}
  </p>

  <h2 class="text-xl font-latoBold mb-2">
    5. {{ "cookiesPolicy5Title" | translate }}
  </h2>
  <p class="text-gray-700 mb-4 text-lg">
    {{ "cookiesPolicy5Body" | translate }}
  </p>
  <p class="text-gray-700 mb-4 text-lg">
    {{ "cookiesPolicy51Body" | translate }}
  </p>

  <h2 class="text-xl font-latoBold mb-2">
    6. {{ "cookiesPolicy6Title" | translate }}
  </h2>
  <p class="text-gray-700 mb-4 text-lg">
    {{ "cookiesPolicy6Body" | translate }}
    <a
      href="mailto:zerotimeoclock@gmail.com"
      class="font-latoBold hover:font-latoBlack hover:underline"
      >zerotimeoclock&#64;gmail.com</a
    >
    {{ "cookiesPolicy61Body" | translate }}
  </p>
</div>
