<div class="container mx-auto px-4 py-8 font-latoRegular text-pretty">
    <h1 class="text-5xl text-center font-prata my-10">Política de ookies</h1>
    <p class="text-gray-700 mb-4 text-lg">
      Bienvenido a Zero Time. Esta política de cookies explica cómo y por qué utilizamos cookies y tecnologías similares en nuestro sitio web. Al acceder y utilizar nuestro sitio, usted acepta el uso de cookies de acuerdo con esta política.
    </p>
  
    <h2 class="text-xl font-latoBold mb-2">1. ¿Qué son las cookies?</h2>
    <p class="text-gray-700 mb-4 text-lg">
      Las cookies son pequeños archivos de texto que se almacenan en su dispositivo cuando visita nuestro sitio web. Estos archivos contienen información que se transfiere al disco duro de su dispositivo y nos permite reconocer su navegador y recordar cierta información sobre su visita.
    </p>
  
    <h2 class="text-xl font-latoBold mb-2">2. ¿Por qué utilizamos cookies?</h2>
    <p class="text-gray-700 mb-4 text-lg">
      Utilizamos cookies por varias razones, que incluyen:
    </p>
    <ul class="list-disc ml-8 text-gray-700 mb-4 text-lg">
      <li>Mejorar la funcionalidad y el rendimiento de nuestro sitio web.</li>
      <li>Personalizar su experiencia en nuestro sitio, incluyendo el contenido y la publicidad.</li>
      <li>Realizar análisis y estudios de mercado para comprender cómo se utiliza nuestro sitio y cómo podemos mejorarlo.</li>
      <li>Proporcionar funciones de redes sociales y permitir compartir contenido en plataformas de redes sociales.</li>
    </ul>
  
    <h2 class="text-xl font-latoBold mb-2">3. Tipos de cookies que utilizamos</h2>
    <p class="text-gray-700 mb-4 text-lg">
      Utilizamos tanto cookies de sesión como cookies persistentes en nuestro sitio web. Las cookies de sesión se eliminan automáticamente cuando cierra su navegador, mientras que las cookies persistentes permanecen en su dispositivo durante un período más largo, incluso después de cerrar su navegador.
    </p>
    <p class="text-gray-700 mb-4 text-lg">
      Además, utilizamos cookies de primeros y terceros. Las cookies de primeros son aquellas establecidas por nuestro sitio web, mientras que las cookies de terceros son establecidas por otros sitios web y servicios, como proveedores de análisis y redes sociales.
    </p>
  
    <h2 class="text-xl font-latoBold mb-2">4. Control de cookies</h2>
    <p class="text-gray-700 mb-4 text-lg">
      Usted tiene el derecho de controlar el uso de cookies en su dispositivo. Puede configurar su navegador para que le notifique cuando se envíen cookies, o puede optar por desactivar todas las cookies. Sin embargo, tenga en cuenta que algunas funciones de nuestro sitio web pueden no funcionar correctamente si desactiva las cookies.
    </p>
  
    <h2 class="text-xl font-latoBold mb-2">5. Cambios en la Política de Cookies</h2>
    <p class="text-gray-700 mb-4 text-lg">
      Nos reservamos el derecho de actualizar o modificar esta política de cookies en cualquier momento. Cualquier cambio será efectivo inmediatamente después de su publicación en esta página.
    </p>
    <p class="text-gray-700 mb-4 text-lg">
      Le recomendamos que revise periódicamente esta política de cookies para estar al tanto de cualquier cambio. Su uso continuado de nuestro sitio web después de la publicación de los cambios constituye su aceptación de dichos cambios.
    </p>
  
    <h2 class="text-xl font-latoBold mb-2">6. Contacto</h2>
    <p class="text-gray-700 mb-4 text-lg">
      Si tiene alguna pregunta sobre nuestra política de cookies, por favor contáctenos a través de <a href="mailto:zerotimeoclock@gmail.com" class="font-latoBold hover:font-latoBlack hover:underline">zerotimeoclock&#64;gmail.com</a>. Estamos aquí para ayudarlo y responder a sus inquietudes.
    </p>
  </div>
  