<div class="container  mx-auto">
    <div class="grid grid-cols-7 ">
        <div class="FILTERS col-span-1 pt-10 pr-4">
            <div class="flex flex-col  space-y-8">
                <div class="CATEGORY space-y-4">
                    <h2 class="font-latoBold">Categoría</h2>
                    <div class="flex items-center justify-between">
                        <label class="cursor-pointer">Grand Seiko
                        <input type="checkbox" class="form-checkbox focus:ring-0 h-5 w-5 ml-20 text-gray-600" />
                        </label>
                    </div>
                    <div class="flex items-center justify-between">
                        <label class="cursor-pointer">Grand Seiko
                        <input type="checkbox" class="form-checkbox focus:ring-0 h-5 w-5 ml-20 text-gray-600" />
                        </label>
                    </div>
                    <div class="flex items-center justify-between">
                        <label class="cursor-pointer">Grand Seiko
                        <input type="checkbox" class="form-checkbox focus:ring-0 h-5 w-5 ml-20 text-gray-600" />
                        </label>
                    </div>
                    <div class="flex items-center justify-between">
                        <label class="cursor-pointer">Grand Seiko
                        <input type="checkbox" class="form-checkbox focus:ring-0 h-5 w-5 ml-20 text-gray-600" />
                        </label>
                    </div>
                </div>
                <div class="AUTOR">
                    <h2 class="font-latoBold">Autor</h2>
                    <input type="text" placeholder="Brand, model, reference ..."
                        class="w-full p-2 border focus:ring-0 focus:border-gray-800 border-gray-300 rounded" />
                </div>
                <div class="mb-6 flex flex-col items-start space-y-4">
                    <h2 class="font-latoBold">Ordenar por fecha:</h2>
                    <button class="border border-gray-600 px-4 py-2 w-full hover:bg-slate-900 hover:text-slate-100 rounded">Mas recientes</button>
                    <button class="border border-gray-600 px-4 py-2 w-full hover:bg-slate-900 hover:text-slate-100 rounded">Mas antiguos</button>
                    
                </div>
            </div>
        </div>
        <div class="ARTICLES col-span-6">
            <div class="ARTICLE  border-b border-gray-200  ">
                <div class="grid grid-cols-5 gap-2 p-10">
                    <div class=" col-span-2">
                        <a routerLink="/news-detail">
                            <div class="capitalize text-3xl font-latoRegular mb-6">
                                <span class=" CATEGORY+TITLE font-prata text-5xl pr-4 ">Hands-On </span>
                                Spending some quality time with the Longines Conquest Heritage Central
                                Power Reserve
                            </div>
                            <div class="SUBTITLE font-latoRegular opacity-75">A faithful reimangining of a 1959 heritage
                                design,
                                outfitted in a
                                throughly modern color palette of warm gey and rose gold.</div>
                        </a>
                    </div>
                    <div class=" col-span-3">
                        <a routerLink="/news-detail">
                            <img class="h-72 object-cover w-full"
                                src="https://hodinkee.imgix.net/uploads/images/09273d1b-5b61-4260-bf4c-431ccfe5ea41/20240220_LonginesConquest_014.jpg?ixlib=rails-1.1.0&fm=jpg&q=55&auto=format&usm=12&fit=crop&ch=Width%2CDPR%2CSave-Dat"
                                alt="cover-img" />
                        </a>
                    </div>
                    <div class="AUTHOR capitalize">By Aivan Towers - {{ currentDate | date:'dd/MM/yyyy'}} </div>
                </div>
            </div>
            <a routerLink="/news-detail">
                <div class="ARTICLE  border-b border-gray-200">
                    <div class="grid grid-cols-5 gap-2 p-10">
                        <div class=" col-span-2">
                            <div class="capitalize text-3xl font-latoRegular mb-6">
                                <span class=" CATEGORY+TITLE font-prata text-5xl pr-4 ">In
                                    depth</span>
                                The History Of The Micro-Rotor, And How Dominique Renaud And Julien Tixier Have
                                Reinvented It With
                                Their Brand's First Watch
                            </div>
                            <div class="SUBTITLE font-latoRegular opacity-75">A pioneering industry icon and a young
                                prodigy team up
                                (again) for a new brand that fixes a major issue with a beloved watchmaking design: the
                                microrotor.
                            </div>
                        </div>
                        <div class=" col-span-3">
                            <img class="h-72 object-cover w-full"
                                src="https://hodinkee.imgix.net/uploads/images/580f148a-3221-4f79-9508-8ea0669349c8/Untitled-1.jpg?ixlib=rails-1.1.0&fm=jpg&q=55&auto=format&usm=12&fit=crop&ch=Width%2CDPR%2CSave-Data&alt=&ar=16%3A9&w=1200"
                                alt="cover-img" />
                        </div>
                        <div class="AUTHOR capitalize">By Aivan Towers - {{ currentDate | date:'dd/MM/yyyy'}} </div>

                    </div>
                </div>
            </a>
            <div class="ARTICLE  border-b border-gray-200 ">
                <div class="grid grid-cols-5 gap-2 p-10">
                    <div class=" col-span-2">
                        <div class="capitalize text-3xl font-latoRegular mb-6">
                            <span class=" CATEGORY+TITLE font-prata text-5xl pr-4 ">Introducing </span>
                            The 42mm Blancpain Fifty Fathoms Is Back – Now In Titanium Or Rose Gold – And It's Really
                            Good (Live
                            Pics)
                        </div>
                        <div class="SUBTITLE font-latoRegular opacity-75">After last year's "Act 1" 70th anniversary
                            model in
                            steel, these two new releases round out the lineup for Blancpain's Fifty Fathoms range in a
                            smaller
                            form factor.</div>
                    </div>
                    <div class=" col-span-3">
                        <img class="h-72 object-cover w-full"
                            src="https://hodinkee.imgix.net/uploads/images/62ef5bc2-f734-4bbd-94a8-18f8762aa4cd/20240314_BlancpainFiftyFathoms42_012.jpg?ixlib=rails-1.1.0&fm=jpg&q=55&auto=format&usm=12&fit=crop&ch=Width%2CDPR%2CSave-Data&alt=&ar=16%3A9&w=1200"
                            alt="cover-img" />
                    </div>
                    <div class="AUTHOR capitalize">By Mark KauzLARICHJ - {{ currentDate | date:'dd/MM/yyyy'}} </div>

                </div>
            </div>
            <div class="ARTICLE  border-b border-gray-200">
                <div class="grid grid-cols-5 gap-2 p-10">
                    <div class=" col-span-2">
                        <div class="capitalize text-3xl font-latoRegular mb-6">
                            <span class=" CATEGORY+TITLE font-prata text-5xl pr-4 ">One to watch </span>
                            Petermann Bédat Establish Themselves As One Of Switzerland’s Most Exciting Young Indies With
                            Their
                            Second Release
                        </div>
                        <div class="SUBTITLE font-latoRegular opacity-75">With their Reference 2941 Split Seconds
                            Monopusher,
                            the young independent watchmakers continue to pursue their unique perspective on
                            watchmaking.</div>
                    </div>
                    <div class=" col-span-3">
                        <img class="h-72 object-cover w-full"
                            src="https://hodinkee.imgix.net/uploads/images/cec0ca17-74b2-446b-aa45-f4ce2c3a7ce0/DSC_3145-2.jpg?ixlib=rails-1.1.0&fm=jpg&q=55&auto=format&usm=12&fit=crop&ch=Width%2CDPR%2CSave-Data&alt=&ar=16%3A9&w=1200"
                            alt="cover-img" />
                    </div>
                    <div class="AUTHOR capitalize">By Aivan Towers - {{ currentDate | date:'dd/MM/yyyy'}} </div>

                </div>
            </div>
            <div class="ARTICLE  ">
                <div class="grid grid-cols-5 gap-2 p-10">
                    <div class=" col-span-2">
                        <div class="capitalize text-3xl font-latoRegular mb-6">
                            <span class=" CATEGORY+TITLE font-prata text-5xl pr-4 ">Hands-On </span>
                            If Affordable Avant-Garde Is Your Thing, Baltic's Newest Prismic Watches Are Straight-Up
                            Money
                        </div>
                        <div class="SUBTITLE font-latoRegular opacity-75">Out of left field or from the dark side of the
                            moon,
                            these new watches in steel and titanium come in nearly any color you like.</div>
                    </div>
                    <div class=" col-span-3">
                        <img class="h-72 object-cover w-full"
                            src="https://hodinkee.imgix.net/uploads/images/39950a49-84ca-4beb-9224-13158e6af5de/20240213_BalticPrismic_338.jpg?ixlib=rails-1.1.0&fm=jpg&q=55&auto=format&usm=12&fit=crop&ch=Width%2CDPR%2CSave-Data&alt=&ar=16%3A9&w=1200"
                            alt="cover-img" />
                    </div>
                    <div class="AUTHOR capitalize">By Aivan Towers - {{ currentDate | date:'dd/MM/yyyy'}} </div>

                </div>
            </div>
        </div>
    </div>

</div>