<div class="container mx-auto">
  <div class="grid grid-cols-1 lg:grid-cols-5 border-b border-gray-300 pt-20">
    <div class="lg:col-span-1 pl-6">
      <div class="FILTERS">
        <h1 class="font-latoRegular text-3xl pb-4">
          {{ "brandsBrands" | translate }}
        </h1>
        <ul class="overflow-y-auto h-80 space-y-4">
          <li class="my-2" *ngFor="let brand of brands">
            <a
              class="text-gray-600 hover:text-gray-950"
              [routerLink]="['/brands', brand.name]"
              >{{ brand.name }}</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="lg:col-span-4 grid grid-cols-1 lg:grid-cols-2">
      <div class="TITLE + DESCRIPTION pl-4">
        <h1 class="font-prata text-5xl px-2 pb-6">{{ brandInfo.name }}</h1>
        <div class="border-b border-gray-300 mx-3"></div>
        <div class="DESCRIPTION text-xl font-latoRegular px-2 py-6">
          <p>{{ brandInfo.description }}</p>
        </div>
      </div>
      <div class="IMAGEN">
        <img
          [src]="
            watches.length > 0
              ? brandCoverImageUrl
              : '../../assets/images/brandNoWatch.svg'
          "
          alt="img-brand"
          class="w-full h-auto object-contain lg:w-[614px] lg:h-[410px]"
        />
      </div>
    </div>
  </div>

  <div class="mx-auto lg:w-full p-8 lg:px-20 pt-20" *ngIf="watches.length > 0">
    <div class="text-6xl font-latoRegular mx-auto">
      <h2 class="text-xl">
        {{ "brandsAllWatches" | translate }}
        <span class="font-prata text-3xl text-right inline-block ml-6">{{
          brandInfo.name
        }}</span>
      </h2>
    </div>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10 mt-20 gap-y-12"
    >
      <div
        class="CARD RELOJ cursor-pointer"
        *ngFor="let watch of watches"
        (click)="navigateToWatchDetail(watch.id)"
      >
        <div class="IMAGEN pb-6">
          <img
            class="object-cover h-[467px] w-[373px]"
            [src]="getCurrentImageUrl(watch)"
            (mouseover)="showNextImage(watch)"
            (mouseleave)="resetImage(watch)"
            alt="watch-image"
          />
        </div>
        <div class="TEXTO CARD">
          <h3 class="uppercase font-latoBold">{{ brandName }}</h3>
          <p class="capitalize">{{ watch.model }}</p>
        </div>
        <div class="font-latoBold pt-3">{{ watch.price | europeNumber }}</div>
      </div>
    </div>
  </div>
  <div class="container py-32" *ngIf="watches.length <= 0">
    <h1 class="text-center text-4xl">
      {{ "brandsNoWatches" | translate }}
      <span class="font-prata">{{ brandName }}</span>
    </h1>
  </div>
</div>
