<div class="container mx-auto ">
    <div class=" grid grid-cols-5 border-b border-gray-300 pt-20">
        <div class="">
            <div class="FILTERS">
                <h1 class="font-latoRegular text-3xl pb-4">Marcas</h1>
                <ul class="overflow-y-auto h-80 ">
                    <li>Patek Philippe</li>
                    <li>Audemars Piguet</li>
                    <li>Vacheron Constantin</li>
                    <li>Rolex</li>
                    <li>Jaeger-LeCoultre</li>
                    <li>Richard Mille</li>
                    <li>Hublot</li>
                    <li>Breguet</li>
                    <li>Omega</li>
                    <li>Cartier</li>
                    <li>Patek Philippe</li>
                    <li>Audemars Piguet</li>
                    <li>Vacheron Constantin</li>
                    <li>Rolex</li>
                    <li>Jaeger-LeCoultre</li>
                    <li>Richard Mille</li>
                    <li>Hublot</li>
                    <li>Breguet</li>
                    <li>Omega</li>
                    <li>Cartier</li>
                    <li>Patek Philippe</li>
                    <li>Audemars Piguet</li>
                    <li>Vacheron Constantin</li>
                    <li>Rolex</li>
                    <li>Jaeger-LeCoultre</li>
                    <li>Richard Mille</li>
                    <li>Hublot</li>
                    <li>Breguet</li>
                    <li>Omega</li>
                    <li>Cartier</li>
                </ul>
            </div>

        </div>
        <div class=" col-span-4 grid grid-cols-2">
            <div class="TITLE + DESCRIPTION pl-4 ">
                <h1 class="  font-prata text-5xl px-2 pb-6">BVLGARI</h1>
                <div class="border-b border-gray-300 mx-3 "></div>
                <div class="DESCRIPTION  text-xl font-latoRegular px-2 py-6">
                    <p>Bulgari has grown into one of the most internationally recognized and diversified luxury brands.
                        It is in the watch realm where BVLGARI has seen an impressive amount of activity in recent
                        years, thanks to the Octo Finissimo collection. The critically acclaimed line has established
                        new benchmarks in the genre of ultra-thin watchmaking since 2014, including the thinnest
                        automatic watch, thinnest minute repeater, thinnest tourbillon, and thinnest chronograph.</p>
                </div>
            </div>
            <div class="IMAGEN">
                <img src="https://shop.hodinkee.com/cdn/shop/collections/BVGroup-9-11-001.jpg?v=1700237076&auto=format&fit=max&q=88&ixlib=react-9.7.0&w=1446"
                    alt="img-brand">
            </div>
        </div>
    </div>


    <div class=" mx-auto w-full  p-8  px-20 pt-20">
        <div class=" text-6xl font-latoRegular mx-auto">
            <h2 class="text-xl">Todos los relojes de: <span
                    class="font-prata text-3xl text-right inline-block ml-6">BVLGARI</span></h2>
        </div>
        <div class=" grid grid-cols-4 gap-10 mt-20 gap-y-12">
            <div class="CARD RELOJ">
                <div class=" IMAGEN pb-6">
                    <img src="https://hodinkee-shopify.imgix.net/s/files/1/0146/0732/files/103738_201_ful_SQ_ISA.jpg?v=1690663887&auto=format&ar=4%3A5&fit=crop&q=65&usm=8&ixlib=react-9.7.0&w=328"
                        class="w-auto  object-cover" alt="r1">

                </div>
                <div class="TEXTO CARD">
                    <h3 class="uppercase font-latoBold">NOMOS GLASHUTTE</h3>
                    <p class="capitalize">club campus endless blue with sapphire caseback and big black dial with
                        diamond bessels</p>
                </div>
                <div class="b font-latoBold pt-3">
                    {{ 5500 | europeNumber}}
                </div>
            </div>
            <div class="CARD RELOJ">
                <div class="IMAGEN pb-6">
                    <img src="https://hodinkee-shopify.imgix.net/s/files/1/0146/0732/products/BV7-Soldier.jpg?v=1575333028&auto=format&ar=4%3A5&fit=crop&q=65&usm=8&ixlib=react-9.7.0&w=380"
                        class="w-auto  object-cover" alt="r1">

                </div>
                <div class="TEXTO CARD">
                    <h3 class="uppercase font-latoBold">NOMOS GLASHUTTE</h3>
                    <p class="capitalize">club campus endless blue with sapphire caseback and big black dial with
                        diamond bessels</p>
                </div>
                <div class="b font-latoBold pt-3">
                    {{ 5500 | europeNumber}}
                </div>
            </div>
            <div class="CARD RELOJ">
                <div class=" IMAGEN pb-6">
                    <img src="https://hodinkee-shopify.imgix.net/s/files/1/0146/0732/products/BV5-Soldier.jpg?v=1575333620&auto=format&ar=4%3A5&fit=crop&q=65&usm=8&ixlib=react-9.7.0&w=380"
                        class="w-auto  object-cover" alt="r1">

                </div>
                <div class="TEXTO CARD">
                    <h3 class="uppercase font-latoBold">NOMOS GLASHUTTE</h3>
                    <p class="capitalize">club campus endless blue with sapphire caseback and big black dial with
                        diamond bessels</p>
                </div>
                <div class="b font-latoBold pt-3">
                    {{ 5500 | europeNumber}}
                </div>
            </div>
            <div class="CARD RELOJ">
                <div class=" IMAGEN pb-6">
                    <img src="https://hodinkee-shopify.imgix.net/s/files/1/0146/0732/products/BV2-Soldier.jpg?v=1575333116&auto=format&ar=4%3A5&fit=crop&q=65&usm=8&ixlib=react-9.7.0&w=380"
                        class="w-auto  object-cover" alt="r1">

                </div>
                <div class="TEXTO CARD">
                    <h3 class="uppercase font-latoBold">NOMOS GLASHUTTE</h3>
                    <p class="capitalize">club campus endless blue with sapphire caseback and big black dial with
                        diamond bessels</p>
                </div>
                <div class="b font-latoBold pt-3">
                    {{ 5500 | europeNumber}}
                </div>
            </div>
            <div class="CARD RELOJ">
                <div class="IMAGEN pb-6">
                    <img src="https://hodinkee-shopify.imgix.net/s/files/1/0146/0732/products/BV1-Soldier.jpg?v=1575333197&auto=format&ar=4%3A5&fit=crop&fm=jpg&q=65&usm=8&ixlib=react-9.7.0&w=689"
                        class="w-auto  object-cover" alt="r1">

                </div>
                <div class="TEXTO CARD">
                    <h3 class="uppercase font-latoBold">NOMOS GLASHUTTE</h3>
                    <p class="capitalize">club campus endless blue with sapphire caseback and big black dial with
                        diamond bessels</p>
                </div>
                <div class="b font-latoBold pt-3">
                    {{ 5500 | europeNumber}}
                </div>
            </div>
            <div class="CARD RELOJ">
                <div class="IMAGEN pb-6">
                    <img src="https://hodinkee-shopify.imgix.net/s/files/1/0146/0732/products/1320980.jpg?v=1664977650&auto=format&ar=4%3A5&fit=crop&fm=jpg&q=65&usm=8&ixlib=react-9.7.0&w=689"
                        class="w-auto  object-cover" alt="r1">

                </div>
                <div class="TEXTO CARD">
                    <h3 class="uppercase font-latoBold">NOMOS GLASHUTTE</h3>
                    <p class="capitalize">club campus endless blue with sapphire caseback and big black dial with
                        diamond bessels</p>
                </div>
                <div class="b font-latoBold pt-3">
                    {{ 5500 | europeNumber}}
                </div>
            </div>
            <div class="CARD RELOJ">
                <div class=" IMAGEN pb-6">
                    <img src="https://hodinkee-shopify.imgix.net/s/files/1/0146/0732/products/BV10-Soldier.jpg?v=1664970707&auto=format&ar=4%3A5&fit=crop&fm=jpg&q=65&usm=8&ixlib=react-9.7.0&w=689"
                        class="w-auto  object-cover" alt="r1">

                </div>
                <div class="TEXTO CARD">
                    <h3 class="uppercase font-latoBold">NOMOS GLASHUTTE</h3>
                    <p class="capitalize">club campus endless blue with sapphire caseback and big black dial with
                        diamond bessels</p>
                </div>
                <div class="b font-latoBold pt-3">
                    {{ 5500 | europeNumber}}
                </div>
            </div>
            <div class="CARD RELOJ">
                <div class="IMAGEN pb-6 ">
                    <img src="https://hodinkee-shopify.imgix.net/s/files/1/0146/0732/files/103722_001_ful_SQ_ISA.jpg?v=1686752635&auto=format&ar=4%3A5&fit=crop&fm=jpg&q=65&usm=8&ixlib=react-9.7.0&w=689"
                        class="w-auto  object-cover" alt="r1">

                </div>
                <div class="TEXTO CARD">
                    <h3 class="uppercase font-latoBold">NOMOS GLASHUTTE</h3>
                    <p class="capitalize">club campus endless blue with sapphire caseback and big black dial with
                        diamond bessels</p>
                </div>
                <div class="b font-latoBold pt-3">
                    {{ 5500 | europeNumber}}
                </div>
            </div>

        </div>
    </div>
</div>