<div class="container h-full mx-auto">
  <h2 class="text-2xl pt-10">800 Modelos</h2>
  <!-- Aqui meteré la variable de count de los relojes totales -->
  <div class="flex flex-row py-8">
    <div class="pr-12">
      <div class="FILTERS p-4 w-64">
        <!-- Search Input -->
        <div class="mb-6">
          <h2 class="font-latoBold">Search</h2>
          <input
            [(ngModel)]="filters.searchTerm"
            (ngModelChange)="onSearchChange($event)"
            type="text"
            placeholder="Brand, model ..."
            class="w-full p-2 border border-gray-300 focus:border-gray-800 focus:ring-0 rounded"
          />
        </div>

        <!-- Brand Filters -->
        <div class="mb-6">
          <div class="flex justify-between items-center mb-2">
            <h2 class="font-latoBold">Brand</h2>
            <button class="text-xs text-gray-500">Clear</button>
          </div>
          <div class="h-56 overflow-y-auto">
            <div class="space-y-2 pr-3" *ngFor="let brand of brands">
              <label class="flex justify-between items-center cursor-pointer">
                <span>{{ brand.name }}</span>
                <input
                  type="checkbox"
                  class="form-checkbox h-5 w-5 focus:ring-0 text-gray-600"
                 
                />
              </label>
            </div>
          </div>
        </div>

        <!-- Price Range -->
        <div class="mb-6">
          <div class="flex justify-between items-center mb-2">
            <h2 class="font-latoBold">Price</h2>
          </div>
          <div class="flex">
            <input
              type="range"
              min="0"
              max="100000"
              class="w-full"
              [(ngModel)]="filters.priceRange.min"
              (ngModelChange)="
                onPriceChange(filters.priceRange.min, filters.priceRange.max)
              "
            />
            <input
              type="range"
              min="0"
              max="100000"
              [(ngModel)]="filters.priceRange.max"
              (ngModelChange)="
                onPriceChange(filters.priceRange.min, filters.priceRange.max)
              "
              class="w-full"
            />
          </div>
          <div class="flex justify-between text-xs mt-2">
            <span>0 €</span>
            <span>100,000 €</span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="GRID RELOJES w-full grid grid-cols-3 gap-14 gap-y-16 font-latoRegular"
    >
      <div
        class="WATCHCARD flex flex-col w-full cursor-pointer"
        *ngFor="let watch of filteredWatches"
        (click)="navigateToWatchDetail(watch.id)"
      >
        <div class="w-full pb-6">
          <img
            class="object-cover h-[467px] w-[373px]"
            [src]="getFirstImageUrl(watch.images)"
            alt="watch-image"
          />
        </div>
        <div class="MARCA uppercase font-latoBold">
          {{ getBrandName(watch.brandID) }}
        </div>
        <div class="MODELO capitalize" style="min-height: 4rem">
          {{ watch.model }}
        </div>
        <div class="font-latoBold pt-3 mt-auto">
          {{ watch.price | europeNumber }}
        </div>
      </div>

      <div class="WATCHCARD flex flex-col w-full">
        <div class="w-full pb-6">
          <img
            class="object-cover"
            alt="FALTA PONERLO BIENr1"
            src="https://hodinkee-shopify.imgix.net/s/files/1/0146/0732/files/GA-700HD-8A_front_SQ_KM.jpg?v=1710896141&auto=format&ar=4%3A5&fit=crop&fm=jpg&q=65&usm=8&ixlib=react-9.7.0&w=380"
            alt="FALTA PONERLO BIEN"
          />
        </div>
        <div class="MARCA uppercase font-latoBold">G-SHOCK</div>
        <div class="MODELO capitalize">
          GAB2100FC-1A 'Multi-Color' In Black GAB2100FC-1A 'Multi-Color' In
          Black GAB2100FC-1A 'Multi-Color' In Black GAB2100FC-1A 'Multi-Color'
          In Black
        </div>
        <div class="font-latoBold pt-3">
          {{ 5500 | europeNumber }}
        </div>
      </div>
    </div>
  </div>
</div>
