<div class="bg-white h-[60vh]">
  <div
    class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 grid lg:grid-cols-2 gap-8 lg:gap-16"
  >
    <div class="flex flex-col justify-center">
      <h1
        class="mb-4 text-4xl font-latoBold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
      >
        {{ "homeTitle" | translate }}
      </h1>
      <p
        class="mb-8 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400"
      >
        {{ "homeSubtitle" | translate }}
      </p>
      <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0">
        <a
          *ngIf="this.isUser === false"
          routerLink="/sign-up"
          class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-gray-700 hover:bg-gray-800"
        >
          {{ "homeSignUpButton" | translate }}

          <svg
            class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
          </svg>
        </a>
        <a
          routerLink="/shop"
          class="py-3 px-5 sm:ms-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-gray-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
        >
          {{ "homeShopButton" | translate }}
        </a>
      </div>
    </div>
    <div>
      <iframe
        class="mx-auto w-full lg:max-w-xl h-64 rounded-lg sm:h-96 shadow-xl"
        src="https://www.youtube.com/embed/e_r8vUn2_P4?si=YMr5o57mQXDBvrQ3"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
<div class="border-t border-gray-300 mx-10">
  <div class="mx-auto w-full p-8 px-20 pt-10">
    <div
      class="xl:text-6xl text-3xl md:text-3xl lg:text-4xl sm:pt-12 sm,xl,md:font-latoRegular font-latoRegular mx-auto"
    >
      <h2 class="font-latoRegular">
        {{ "homeLatestAcquisitions" | translate }}
      </h2>
    </div>
    <div
      class="grid xl:grid-cols-3 2xl:grid-cols-4  sm:grid-cols-1 md:grid-cols-2 mt-20 font-latoRegular gap-y-16 gap-20"
    >
      <div
        class="WATCHCARD flex flex-col w-full cursor-pointer"
        *ngFor="let watch of watches"
        (click)="navigateToWatchDetail(watch.id)"
      >
        <div class="IMG pb-6">
          <img
            [src]="getCurrentImageUrl(watch)"
            (mouseover)="showNextImage(watch)"
            (mouseleave)="resetImage(watch)"
            class="w-auto h-[525px] object-cover"
            alt="r1"
          />
        </div>
        <div class="TEXT">
          <h3 class="font-latoBold uppercase">
            {{ getBrandName(watch.brandID) }}
          </h3>
          <p class="capitalize">{{ watch.model }}</p>
        </div>
        <div class="PRICE font-latoBold pt-3">
          {{ watch.price | europeNumber }}
        </div>
      </div>
    </div>
  </div>
</div>
