<div class="container mx-auto">
    <div class="SELLYOURWATCH  text-center py-10">
        <h1 class="font-prata text-6xl pb-4">Añadir reloj </h1>
        <h2 class="font-latoRegular text-2xl text-gray-500">Rellena el siguiente formulario</h2>
    </div>
    <form action="" class=" mx-auto   p-12 pb-36">
        <div class="FORM  grid grid-cols-4 w-full gap-7 gap-x-10">
            <div class="relative z-0 w-full mb-5 group">
                <input type="text" name="floating_brand" id="floating_brand"
                    class="block text-sm py-2.5 px-0 w-full border-0 bg-transparent border-b-2 border-gray-300 appearance-none peer focus:outline-none focus:ring-0"
                    placeholder="" required />
                <label for="floating_brand"
                    class=" peer-focus:font-latoRegular absolute duration-300 text-gray-500 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Marca</label>
            </div>
            <div class="relative z-0 w-full mb-5 group ">
                <input type="text" name="floating_model" id="floating_model"
                    class="block text-sm py-2.5 px-0 w-full border-0 bg-transparent border-b-2 border-gray-300 appearance-none peer focus:outline-none focus:ring-0"
                    placeholder="" required />
                <label for="floating_model"
                    class=" peer-focus:font-latoRegular absolute duration-300 text-gray-500 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Modelo</label>
            </div>

            <div class="flex items-center justify-center w-full col-span-2 row-span-4">
                <label for="dropzone-file"
                    class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                    <div class="flex flex-col items-center justify-center pt-5 pb-6">
                        <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                        </svg>
                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Clica para subir
                                </span> o arrastra y suelta</p>
                        <p class="text-xs text-gray-500 dark:text-gray-400">PNG, JPG  (MAX. 800x400px)</p>
                    </div>
                    <input id="dropzone-file" type="file" class="hidden" multiple />
                </label>
            </div>


            <div class="relative z-0 w-full mb-5 group col-span-2">
                <input type="text" name="floating_description" id="floating_description"
                    class="block text-sm py-2.5 px-0 w-full border-0 bg-transparent border-b-2 border-gray-300 appearance-none peer focus:outline-none focus:ring-0"
                    placeholder="" />
                <label for="floating_description"
                    class=" peer-focus:font-latoRegular absolute duration-300 text-gray-500 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Descripción</label>
            </div>

            <div class=" MOVEMENT flex items-center">
                <label for="movement" class="sr-only">Underline select</label>
                <select id="movement"
                    class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                    <option selected>Movimiento</option>
                    <option value="quartz">Cuarzo</option>
                    <option value="automatic">Automático</option>
                    <option value="manual">Manual</option>
                    <option value="electronic">Electrónico</option>
                    <option value="spring-drive">Spring Drive</option>
                    <option value="electro-mechanical">Electro-mecánico</option>
                </select>
            </div>
            <div class=" CATEGORY flex items-center">
                <label for="category" class="sr-only">Underline select</label>
                <select id="category"
                    class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                    <option selected>Condición</option>
                    <option value="new">Nuevo</option>
                    <option value="semi-used">Semi-usado</option>
                    <option value="used">Usado</option>
                    <option value="worn">Desgastado</option>
                </select>
            </div>
            <div class="relative z-0 w-full mb-5 group mt-6 ">
                <input type="number" name="floating_case_size" id="floating_case_size"
                    class="block text-sm py-2.5 px-0 w-full border-0 bg-transparent border-b-2 border-gray-300 appearance-none peer focus:outline-none focus:ring-0"
                    placeholder="" required />
                <label for="floating_case_size"
                    class=" peer-focus:font-latoRegular absolute duration-300 text-gray-500 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Tamaño
                    caja (mm)</label>
            </div>
            <div class="relative z-0 w-full mb-5 group mt-6">
                <input type="number" name="floating_case_thickness" id="floating_case_thickness"
                    class="block text-sm py-2.5 px-0 w-full border-0 bg-transparent border-b-2 border-gray-300 appearance-none peer focus:outline-none focus:ring-0"
                    placeholder="" required />
                <label for="floating_case_thickness"
                    class=" peer-focus:font-latoRegular absolute duration-300 text-gray-500 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Grosor
                    caja (mm)</label>
            </div>

        </div>
        <div class="SUBMITBUTTON col-span-3 items-center justify-center flex pt-10">
            <button type="submit"
                class="text-gray-900 hover:text-white border w-1/4 border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-latoRegular rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">Añadir reloj</button>

        </div>
    </form>
</div>